absl-py==2.1.0
accelerate==0.33.0
acvl-utils==0.2
aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
anndata==0.10.7
array_api_compat==1.7
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
batchgenerators==0.25
batchgeneratorsv2==0.1.1
bleach==1.5.0
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==2.1.1
click==8.1.7
comm==0.2.2
connected-components-3d==3.17.0
contourpy==1.2.1
cycler==0.12.1
datasets==2.20.0
decorator==5.1.1
dicom2nifti==2.4.11
dill==0.3.8
dynamic-network-architectures==0.3.1
einops==0.8.0
et-xmlfile==1.1.0
evaluate==0.4.2
exceptiongroup==1.2.1
executing==2.0.1
fft-conv-pytorch==1.2.0
filelock==3.14.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gast==0.5.4
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.63.0
h5py==3.11.0
hiddenlayer @ git+https://github.com/waleedka/hiddenlayer.git@45243d51fd78cb6edc45cca50d29b04fb4b35511
hmmlearn==0.3.2
html5lib==0.9999999
huggingface-hub==0.24.5
idna==3.7
imagecodecs==2024.6.1
imageio==2.34.2
iniconfig==2.0.0
install==1.3.5
ipython==8.24.0
ipywidgets==8.1.3
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jupyterlab_widgets==3.0.11
keras==3.3.3
kiwisolver==1.4.5
lazy_loader==0.4
legacy-api-wrap==1.4
libclang==18.1.1
linecache2==1.0.0
llvmlite==0.42.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
namex==0.0.8
natsort==8.4.0
networkx==3.3
nibabel==5.2.1
-e git+https://github.com/MIC-DKFZ/nnUNet.git@fee8c2db4a52405389eb5d3c4512bd2f654ab999#egg=nnunetv2
numba==0.59.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pillow==10.3.0
pluggy==1.5.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyarrow-hotfix==0.6
pydicom==2.4.4
Pygments==2.18.0
pynndescent==0.5.12
pyparsing==3.1.2
pytest==8.3.2
python-dateutil==2.9.0.post0
python-gdcm==3.0.24.1
pytz==2024.1
PyYAML==6.0.1
regex==2024.7.24
requests==2.32.3
rich==13.7.1
safetensors==0.4.4
scanpy==1.10.1
scikeras==0.13.0
scikit-image==0.24.0
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
seqeval==1.2.2
session-info==1.0.0
SimpleITK==2.3.1
six==1.16.0
stack-data==0.6.3
statsmodels==0.14.2
stdlib-list==0.10.0
sympy==1.12
tensorboard==1.8.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.7.2
tokenizers==0.19.1
tomli==2.0.1
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tqdm==4.66.4
traceback2==1.4.0
traitlets==5.14.3
transformers==4.44.0
typing_extensions==4.11.0
tzdata==2024.1
umap-learn==0.5.6
unittest2==1.1.0
urllib3==1.26.20
wcwidth==0.2.13
Werkzeug==3.0.4
widgetsnbextension==4.0.11
wrapt==1.16.0
xxhash==3.4.1
yacs==0.1.8
yarl==1.9.4
